/* body {
    
}

header {
   
}
*/
.container {
    
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.material-icons {
    width: 30px;
    height: 30px;
}

.nav-icon {
    
    margin: 85px -30px 90px 15px;
}

.nav-logo {
    
    margin: 39px 103px 90px 2px;

}

img {
    height: 42px;
    width: 144px;
}

form {
   
    display: flex;
}

input {
    height: 24px;
    width: 500px;
    margin: 81px 0px 90px 15px;
}
 
button {
    margin: 81px 15px 0px 0px;
}

.button-right {
    
    margin: 88px 100px 99px 140px;
}


